.session-duration {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ff0000, #df0000);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.session-duration h3 {
  position: absolute;
  top: 10px;
  left: 15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 500;
}

.custom-tooltip-session {
  background: white;
  color: black;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 35px;
}


.linechart-cursor-left {
  fill: rgba(0, 0, 0, 0.1); /* Assombri la partie gauche */
}

.linechart-cursor-right {
  fill: rgba(255, 255, 255, 0.1); /* Éclaircit la partie droite */
}

.linechart-cursor-line {
  stroke: white;
  stroke-width: 2;
}