.acceuil-container{
  margin-top: 50px;
  width: 85%;
  h1{
  margin: 0;
   font-size: 48px;
   font-family: "Roboto";
   color: black;
   font-weight: 500;
   span{
    color: red;
    font-weight: 500;
   }
  }

  h2{
   font-size: 18px;
   color: black;
   margin-top: 30px;
  }
}


