#root {
  color: rgba(255, 255, 255, 0.87);
  height: 100vh;
  background-color: white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}