.key-data-card {
  display: flex;
  align-items: center;
  background-color: #fbfbfb;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  .key-data-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  .key-data-value {
    font-size: 18px;
    font-weight: bold;
    color: #282d30;
  }

  .key-data-label {
    font-size: 14px;
    color: #74798c;
  }
}
